body * {
    visibility: hidden;
}

.alert {
    display: none;
}

.sidebar {
    display: none;
}

.navbar {
    display: none;
}

#section-to-print,
#section-to-print * {
    visibility: visible;
}

#section-title {
    position: absolute;
    top: 0;
    left: 0;
}
#documentPrintable {
    position: absolute;
    left: 0;
}

.hide {
    display: none;
}

.table-responsive {
    overflow-x: hidden;
}
